button{
    background-color: #8c7851;
    color: #fffffe;
    border: 3px #020826 solid;
    border-bottom: 6px #020826 solid;
}
header{
    border-bottom:  3px  #020826 solid;
}
body{
    background-color: #f5eadf;
}

.input{
    border: 3px #020826 solid;
    outline: none;
    border-radius: 15px;

}
textarea{
    background-color: #f5e2cdb4;
}