:root{
    --bg-color: #f5ede2;
    --primary-color:#f3dac0b4;
    --bg-button: #8c7851;
    --color: #111010fd;
    --border-botton:#5c4b2a;
    --text-area:#16161a;
}
.dark{
    --bg-color: #242629;
    --primary-color:#16161a;
    --bg-button: #7f5af0;
    --color: #a5b3c5;
    --border-botton:#3b2b6b ;
    --text-area:#fdfdfd;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    border-bottom:  3px  #020826 solid;
    margin: 0px 15px;
}
body{
    font-family: 'Martian Mono', monospace;
    font-size: 32px;
    background-color: var(--bg-color);
    color:var(--color);

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#modo{
    padding: 5px 10px;
}

button{
    padding: 5px 20px;
    margin: 10px 0px;
    height: auto;
    outline: none;
    border-radius: 10px;
    background-color: var(--bg-button);
    color: #fffffe;
    font-size: 29px;
    border: 3px var(--border-botton) solid;
 
    border-bottom: 6px var(--border-botton) solid;
}
svg{
    height:1.5rem;
}

/* <Main/>*/

main{

}

.container{
    display: flex;
    height: 75vh;
    width: 100%;
    margin: 30px;
}
.conteiner-izq{
    width: 55%;
}
.conteiner-der{
    width: 45%;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.input{
   
    outline: none;
    border-radius: 10px;
    resize: none;


}

.input-area{
    width: 100%;
    
   
}
textarea{
    border: 3px var(--border-botton) solid;
    background-color:var(--primary-color);
    border-radius: 15px;
    padding: 15px;
    color: var(--text-area);
    font-size:27px ;
    width: 90%;
    height: 55vh;
    resize: none;
    outline: none;

}



/*<Main/> */

footer{
    text-align: center;
}